.aboutme {
    overflow-x: auto;
    height: 85vh;
    background-image: url(../src/img/desktop-background.png);
    background-size: cover;
    /* background-color: blue; */
}

.ab-me {
    width: 100%;
    height: fit-content;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadre-ab-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 90%;
    width: 80%;
    /* background-color: #E8DCEA;
    font-size: 1.1em;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(201,195,201,1);
    -moz-box-shadow: 10px 10px 5px -4px rgba(201,195,201,1);
    box-shadow: 10px 10px 5px -4px rgba(201,195,201,1); */
}

.presentation {
    display: flex;
    flex-direction: row;
    /* background: green; */
    height: 43%;
}

.photo-id {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    /* background-color: lightsteelblue; */
}

.photo-id img {
    height: auto;
    object-fit: contain;
    width: 100%;
    border-radius: 50%;
}

.titre-presentation {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 70%;
}

.titre-section {
    text-align: center;
}

blockquote {
    quotes: "\00AB""\00BB";
}

blockquote p::before {
    content: open-quote;
    font-weight: bold;
    font-size: 20px;
    color:#890000;
}

blockquote p::after {
    content: close-quote;
    font-weight: bold;
    font-size: 20px;
    color:#890000;
}

.presentation-id {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 60%;
    /* background: orange; */
}

.presentation-id {
    font-style: italic;
}

.skills {
    display: flex;
    justify-content: space-between;
    /* background: #FFFFFF; */
    height: 43%;
}

.skills-col {
    height: 100%;
    width: 25%;
    margin-left: 110px;
    /* background-color: olive; */
}

.skills-col h4 {
    font-size: 1.4em;
    color: #890000;
    text-transform: uppercase;
}

.skills-col ul {
    list-style: none;
    padding: 0;
}

.bouton-ab-me {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
}

.btn-portfolio {
    -webkit-box-shadow: 10px 10px 5px -4px rgba(201,195,201,1);
    -moz-box-shadow: 10px 10px 5px -4px rgba(201,195,201,1);
    box-shadow: 10px 10px 5px -4px rgba(201,195,201,1);
}

@media screen and (max-width: 1024px){      
.main-page {
    height: fit-content;
}    
  
.aboutme {
    height: fit-content;
}    

.ab-me {
    height: fit-content;
    font-size: 23px;
}

.cadre-ab-me {
    height: fit-content;
    width: 100%;
}

.presentation {
    height: fit-content;
    flex-direction: column;
    align-items: center;
}

.photo-id {
    height: 360px;
    width: 360px;
}

.photo-id img {
    margin: 20px;
}

.titre-presentation {
    width: 100%;
}

.skills {
    height: fit-content;
    padding-left: 10px;
}

.skills-col {
    margin-left: 0;
}

.bouton-ab-me {
    margin-top: 20px;
}
}

@media screen and (max-width: 787px){
.skills {
    flex-direction: column;
}

.skills-col {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.skills-col h4 {
    width: 50%;
    text-align: center;
}

.skills-col ul {
    width: 50%;
}

@media screen and (max-width: 700px){
.skills-col {
    flex-direction: column;
}

.skills-col ul {
    align-items: center;
    justify-content: center;
    display: contents;
}

.skills-col h4 {
    text-align: center;
}
}
}