.aboutme {
    height: 85vh;
    /* background-color: blue; */
}

.ab-me {
    width: 100%;
    height: 100%;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadre-ab-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 90%;
    width: 80%;
    /* background-color: #E8DCEA;
    font-size: 1.1em;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(201,195,201,1);
    -moz-box-shadow: 10px 10px 5px -4px rgba(201,195,201,1);
    box-shadow: 10px 10px 5px -4px rgba(201,195,201,1); */
}

.presentation {
    display: flex;
    flex-direction: row;
    /* background: green; */
    height: 43%;
}

.photo-id {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    /* background-color: lightsteelblue; */
}

.photo-id img {
    height: 100%;
    width: auto;
}

.titre-presentation {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 70%;
}

.titre-ab-me {
    text-align: center;
}

.titre-ab-me h3 {
    height: 20%;
    width: 100%;
    font-size: 2em;
    margin: 0;
    
    text-transform: uppercase;
}

.presentation-id {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 60%;
    /* background: orange; */
}

.skills {
    display: flex;
    justify-content: space-between;
    /* background: #FFFFFF; */
    height: 43%;
}

.skills-col {
    height: 100%;
    width: 25%;
    margin-left: 110px;
    /* background-color: olive; */
}

.skills-col h4 {
    font-size: 1.4em;
    color: #890000;
    text-transform: uppercase;
}

.skills-col ul {
    list-style: none;
    padding: 0;
}

.bouton-ab-me {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
}

.btn-portfolio {
    -webkit-box-shadow: 10px 10px 5px -4px rgba(201,195,201,1);
    -moz-box-shadow: 10px 10px 5px -4px rgba(201,195,201,1);
    box-shadow: 10px 10px 5px -4px rgba(201,195,201,1);
}