.intro {
    height: 85vh;
}

.nom {
    position: absolute;
    top: 38%;
    left: 52%;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
    z-index: 1;
}


.nom h1 {
    margin: 0;
    font-size: 4em;
    text-transform: uppercase;
}

.titre-pro {
    position: absolute;
    top: 48%;
    left: 76%;
    font-family: 'Josefin Sans', sans-serif, light;
    color: #FFFFFF;
    z-index: 1;
    text-align: end;
}

.titre-pro h2 {
    margin: 0;
    font-weight: lighter;
    font-size: 2em;
    text-transform: uppercase;
}