/* Accueil */
html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem
}

h3 {
    height: 20%;
    width: 100%;
    font-size: 2rem;
    margin: 0;
    text-transform: uppercase;
}

.main-page {
    height: 100vh;
}

.barMenu {
    display: none
}

a.current {
    color: lightcoral;
}

.liens-navigation-burger {
    display: none
}

.liens-navigation {
    margin: 0;
    /* padding-left: 55%; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #FFFFFF;
    align-items: center;
}

.linkStyle {
    margin: 0;
    display: flex;
    text-align: center;
    transition: background-color 0.5s 0.2s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #FFF;
    text-decoration: none;
}

.linkStyle:hover {
    background-color: grey;
}

.linkStyle a {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #FFF;
    text-decoration: none;
  }

nav {
    background-color: #000000;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* Titres */ 
.get-in-touch .title {
    color: #000000;
  text-align: center;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5em;
  line-height: 48px;
  padding-bottom: 48px;
}

/* Media queries */
@media screen and (max-width: 1024px) {
    
.main-page {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: fit-content;
}

.intro {
    height: 93vh;
}

nav {
    height: fit-content;
    flex-direction: column;
    justify-content: center;
}

.liens-navigation {
    display: none;
}

.barMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 35px;
    background-color: #FFFFFF;
    border-radius: 15px;
    align-items: center;
}

.bar {
    background-color: #000000;
    height: 5px;
    width: 34px;
  }

ul.liens-navigation li {
    font-size: 20px;
}

ul.liens-navigation-burger {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    list-style: none;
    padding-right: 40px;
}

ul.liens-navigation-burger li {
    /* border-color: #FFFFFF;
    border-style: solid; */
    text-transform: uppercase;
    border-left-style: none;
    border-right-style: none;
    padding: 5px;
}

ul.liens-navigation-burger li a {
    color: #FFF;
    text-decoration: none;
}

.submit-btn {
    font-size: 20px;
}

/* TITRES */ 
h3 {
    margin: 46px;
    margin: 46px 0px 0px 0px;
}

/* About me */
.photo-id {
    height: 50%;
    width: 50%;
}
}

  @media screen and (max-width: 768px) {

.nom h1 {
    text-align: center;
}

.header {
    font-size: 0.7em;
}
}

@media screen and (max-width: 600px) {
.barMenu {
    height: 2rem;
    width: 2rem;
}

.bar {
    height: 3px;
    width: 60%;
    border-radius: 10px;
}

.presentation-id {
    padding: 0;
}

.photo-id {
    height: 70%;
    width: 70%;
}

blockquote {
    margin: 10px;
}
}