/* Accueil */
html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-image: url("../src/img/startup-593327_1920.jpg");
    width: 100%;
    height: 100%;
    background-size: cover ;
    display: flex;
    align-items: flex-end;
}

.liens-navigation {
    margin: 0;
    /* padding-left: 55%; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #FFFFFF;
    align-items: center;
}

ul.liens-navigation li {
    margin: 0;
    display: flex;
    height: 100%;
    width: 20vw;
    text-align: center;
    color: #555;
    transition: background-color 0.5s 0.2s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
}

ul.liens-navigation li a {
    color: #FFF;
    text-decoration: none;
  }

nav {
    background-color: #000000;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
