/* Accueil */
html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h3 {
    height: 20%;
    width: 100%;
    font-size: 2em;
    margin: 0;
    text-transform: uppercase;
}

.barMenu {
    display: none
}

.liens-navigation-burger {
    display: none
}

.liens-navigation {
    margin: 0;
    /* padding-left: 55%; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #FFFFFF;
    align-items: center;
}

ul.liens-navigation li {
    margin: 0;
    display: flex;
    height: 100%;
    width: 20vw;
    text-align: center;
    color: #555;
    transition: background-color 0.5s 0.2s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
}

ul.liens-navigation li:hover {
    background-color: grey;
}

ul.liens-navigation li a {
    color: #FFF;
    text-decoration: none;
  }

nav {
    background-color: #000000;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* Titres */ 
.get-in-touch .title {
    color: #000000;
  text-align: center;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5em;
  line-height: 48px;
  padding-bottom: 48px;
}

/* Media queries */
@media screen and (max-width: 1024px) and (min-width: 768px) {
    
.main-page {
    display: flex;
    flex-direction: column-reverse;
}

.intro {
    height: 93vh;
}

nav {
    height: fit-content;
    flex-direction: column;
    justify-content: center;
}

.liens-navigation {
    display: none;
}

.barMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 7%;
    height: 65px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 35px;
    background-color: #FFFFFF;
    border-radius: 15px;
    align-items: center;
}

.bar {
    background-color: #000000;
    height: 5px;
    width: 34px;
  }

ul.liens-navigation li {
    font-size: 20px;
}

ul.liens-navigation-burger {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: #FFFFFF;
    list-style: none;
    padding-right: 40px;
}

ul.liens-navigation-burger li {
    height: 45px;
    /* border-color: #FFFFFF;
    border-style: solid; */
    text-transform: uppercase;
    border-left-style: none;
    border-right-style: none;
    padding: 5px;
}

ul.liens-navigation-burger li a {
    color: #FFF;
    text-decoration: none;
}

.submit-btn {
    font-size: 20px;
}

/* TITRES */ 
h3 {
    margin: 46px;
    margin: 46px 0px 0px 0px;
}
  }

  @media screen and (max-width: 768px) and (min-width: 414px) {

.nom h1 {
    text-align: center;
}

.header {
    font-size: 0.7em;
}

  }