.articles {
    min-height: 300px;
}

ul.liens-navigation li a {
    color: #000000;
}

.articles article {
    height: 40%;
    padding: 20px 150px;
    margin: 20px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}

.article-img {
    /* background-color: grey; */
    height: 100%;
    width: 48%;
    align-items: center;
    display: flex;
}

.projet-img {
    width: 100%;
    border-style: solid;
    border-color: darkgrey;
    border-width: thin;
}

.article-legende {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #FBEADB; */
    height: 100%;
    width: 48%;
}

.article-legende h3 {
    text-align: center;
    font-size: 1.4em;
    color: #890000;
    margin-bottom: 0;
}

.technos {
    text-align: center;
    color: #890000;
    font-weight: bold;
}

.boutons-projet {
    display: flex;
    justify-content: space-evenly;
}