
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);


.contact {
  display: flex;
  height: 85vh;
  right: 21%;
  background-color: white;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  margin: auto;
}

.contact-img {
    height: 100%;
    width: 40%;
    background-image: url("../src/img/laptop-2572768_640.jpg");
    background-size: cover;
}

.contact-formulaire {
    height: 100%;
    width: 60%;
    /* background-color: yellow; */
}

.align-center {
  text-align: center;
}
html {
  height: 100%;
}
body {
  height: 100%;
  position: relative;
}
.row {
  margin: -20px 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
.row .col.x-50 {
  width: 50%;
}
.row .col.x-100 {
  width: 100%;
  height: fit-content;
}
.content-wrapper {
  min-height: 100%;
  position: relative;
}
.get-in-touch {
  max-width: 650px;
  margin: 0 auto;
  /* position: relative;
  top: 50%;
  transform: translateY(-50%); */
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
/* .contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
  transition: transform 0.2s ease-in-out;
} */
.submit-btn {
  display: inline-block;
  box-shadow: 9px 10px 5px -5px rgba(219,206,219,0.74);
  background-color: #FFFFFF;
  color: #000000;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  padding: 2px 10px;
  border: 2px solid;
  cursor: pointer;
}

.submit-btn a {
  text-decoration: none;
}

.note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Lusitana, serif;
  font-size: 16px;
  line-height: 21px;
}
.note .link {
  color: #888;
  text-decoration: none;
}
.note .link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {

 .get-in-touch {
   height: fit-content;
 } 

.contact {
  margin: 0;
  height: 93vh;
  flex-direction: column;
}

.contact-img {
  width: 100%;
  height: 35rem;
  background-image: url("../src/img/computer-768696_1280.jpg");
}

.contact-formulaire {
  width: 100%;
  height: fit-content;
}

.contact-form {
  height: fit-content;
}
}


@media screen and (max-width: 500px) {

.contact-form {
  display: flex;
  flex-direction: column;
}
}