.projets {
    background-image: url(../src/img/desktop-background.png);
    background-size: cover;
    overflow: auto;
    height: 85vh;
    width: 100%;
}

.articles {
    width: 100%;
    height: fit-content;
    /* background-color: palegoldenrod; */
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (max-width: 1024px) {

.projets {
    font-size: 23px;
    height: fit-content;
}

.articles article {
    flex-direction: column;
    height: fit-content;
    padding: 20px 50px;
}

.articles {
    height: fit-content;
}

.article-img {
    width: 100%;
    height: auto;
}

.article-legende {
    width: 100%;
    height: fit-content;
}

.description-projet {
    height: fit-content;
}
}

@media screen and (max-width: 600px) {
.articles article {
    padding: 20px 20px;
}
}