.projets {
    overflow: auto;
}

.articles {
    width: 100%;
    height: 85vh;
    /* background-color: palegoldenrod; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../src/img/desktop-background.png);
    background-size: cover;
}